/* Converter */

.converter-wrapper {
    display: flex;
    justify-content: space-between;
}

.converter-panel {
    margin-right: 45px;
}

.converter-picture {
    margin-top: 160px;
}

.currency {
    margin-top: 45px;
}

.currency-toolbar ul {
    display: flex;
}

.convert-currency__input {
    color: #969494;
}