.bank-options {
    display: flex;
    align-items: center;
}

.courses-currency-field {
    padding: 0 44px;
    border-radius: 11px;
    width: 227px;
    margin-left: 60px;
    font-size: 14px;
    font-weight: bold;
}

.bank-options-info {
    margin-left: 15px;
}